.dashbord {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table{
    font-size: 0.9rem;
    font-weight: 400;
}

.dashboard--header {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dahsboard--users {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dahsboard--users button {
    background: var(--color-golden);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: var(--font-base);
    font-weight: bold;
}

.dahsboard--users {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dashboard--header input {
    width: 250px;
    margin-bottom: 1rem;
}

.dashboard--action button {
    margin-right: 0.3rem;
}

@media screen and (max-width: 400px) {
    .dashboard--header {
        flex-direction: column;
    }
    .dashbord {
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}