.practice {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--color-black);
}

.parctice--content {
    height: 100%;
    width: 100%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    line-height: 2rem;
}

.practice--header h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-golden);
    font-family: var(--font-base);
}

.practice--header p {
    font-size: 1.5rem;
    color: var(--color-gray);
    font-family: var(--font-base);
    font-weight: 700;
}

.practice--body {
    margin-top: 2rem;
}

.practice--col {
    margin-bottom: 1rem;
    font-size: 24px;
    padding: 1rem;
}

.practice--col h5 {
    color: var(--color-golden);
    font-family: var(--font-base);
    font-weight: bold;
}

.practice--col p {
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: bold;
}

.practice--col svg{
    margin-bottom: 1.5rem;
}

.practice--col:hover{
    cursor:pointer;
    background-color: var(--color-golden);
}

.practice--col:hover svg,
.practice--col:hover p,
.practice--col:hover h5{
    color: var(--color-black);
}

@media screen and (max-width: 1200px) {
    .practice {
        height: 100%;
    }
}